* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    font-family: Arial;
}

.worksheet-name-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.recon-wrapper {
    width: fit-content;
    padding: 10px;
    margin: auto;
}

.worksheet-name {
    font-weight: bold;
    font-size: 22px;
}

.page-header {
    display: flex;
    padding: 10px 0px 10px 10px;
}

.header-box {
    /*border: solid 2px black;*/
    background-color: black;
    display: flex;
    flex-direction: column;
}

.header-box-content {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100%;
}

.header-box-content input {
    height: 100%;
}

.data-tr:nth-child(even) {
    background-color: #dddddd;
}

.header-box-text {
    /*background-color: black;*/
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: fit-content;
}

th {
    background-color: rgb(60, 60, 60);
    color: white;
    text-align: center;
}

td {
    color: black;
    width: 100px;
}

/*TODO custom class for only editable tds*/

.input-type-sold-quantity {
    text-align: center;
}

.input-type-total {
    text-align: center;
}

.editable-td {
    text-align: center;
}

.editable-td p {
    text-align: center;
}

.editable-td:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

.divider-row {
    text-align: center;
    background-color: black;
}

.divider-row td {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
}

.name-td {
    width: 150px;
}

.modal-window-background {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-window {
    width: fit-content;
    background-color: white;
    margin: auto;
    padding: 10px;
}

.unit-input-container {
    display: flex;
    justify-content: center;
}

.unit-input-container div p {
    text-align: center;
}

.unit-input-container div {
    padding: 4px;
}

.unit-input-container div input {
    background-color: rgb(60, 60, 60);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 90px;
    margin-top: 3px;
}

.unit-input-accept-button {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 90px;
    margin-top: 3px;
}

.unit-input-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.daily-reconciliation-button-bar {
    display: flex;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    margin-top: -20px;
}

.daily-reconciliation-button-bar button {
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px black;
    background-color: rgb(35, 35, 35);
    color: white;
    height: 35px;
    font-size: 14px;
}

.button-bar-side {

}

.button-bar-middle {
    width: 100%;
    display: flex;
    justify-content: center;
}

#open-day-day {
    text-align: center;
}

#open-day-date {
    text-align: center;
}

#am-manager-input {
    text-align: center;
}

#pm-manager-input {
    text-align: center;
}

.additional-data-container {
    /*padding: 5px;*/
    display: flex;
    margin-top: 10px;
}

.additional-data-div {
    display: flex;
}

.header-box-widest {
    width: 100%;
}

.single-right-button-wrapper {
    display: flex;
    padding: 5px;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

#create-next-day-button {
    padding: 10px;
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 16px;
}